﻿@if (User.Identity.IsAuthenticated)
{
    <form method="post" asp-page="/Auth/Logout" class="d-flex flex-column align-items-center" style="width: 100px;">
        <button type="submit" style="background:none; border:none; padding:0; display:flex; flex-direction:column; align-items:center;">
            <span style="font-weight: bold; color: #000;">Logout</span>
        </button>
    </form>

}
else
{
    <div class="d-flex">
        <a class="d-flex flex-column align-items-center me-3" asp-page="/Auth/Login" style="width: 100px;">
            <span style="font-weight: bold; color: #000;">LogIn</span>
        </a>
        <a class="d-flex flex-column align-items-center" asp-page="/Auth/SignIn" style="width: 100px;">
            <span style="font-weight: bold; color: #000;">SignIn</span>
        </a>
    </div>
}