@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<h5>Project Made By:</h5>
<h6>Miguel Angel Aguirre Bernal</h6>
<h6>Miguel Angel Delgado Serna</h6>
<h6>Santiago Cardenas Hernandez</h6>
<h6>Alejandro Martinez Cisneros</h6>
<h6>Juan Pablo Sanchez Castaneda</h6>
<h7>S4AN</h7>