@page "{id:int?}"
@model Proyect_EventPlanner.Pages.Registers.EditModel
@{
    ViewData["Title"] = "Edit";
}
<h1>Edit</h1>
<h4>Product</h4>
</hr>
<div class="row">
    <div class="col-md-4">

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Register.IdRegister" />
            <div class="form-group">
                <label asp-for="Register.IdEvent" class="control-label"></label>
                <select asp-for="Register.IdEvent" class="form-control" asp-items="ViewBag.IdEvent"></select>
                <span asp-validation-for="Register.IdEvent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Register.IdParticipant" class="control-label"></label>
                <select asp-for="Register.IdParticipant" class="form-control" asp-items="ViewBag.IdParticipant"></select>
                <span asp-validation-for="Register.IdParticipant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Register.RegisterDate" class="control-label"></label>
                <input asp-for="Register.RegisterDate" class="form-control" />
                <span asp-validation-for="Register.RegisterDate" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-page="Index" class="btn btn-primary">Back To List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

